@import 'https://fonts.googleapis.com/css?family=Galada|Open+Sans';

/* Global styles */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}


/* App */

.app {
    width: 100%;
    max-width: 700px;
    margin: 40px auto;
}

.header {
    font-family: 'Galada', cursive;
    font-size: 42px;

    width: 100%;

    text-align: center;
}

.hotels-list {
    display: flex;

    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;

    justify-content: space-between;
    flex-wrap: wrap;
}


/* Search bar */

.search-bar {
    position: relative;

    width: 100%;
}

.search-icon {
    font-size: 32px;

    position: absolute;
    top: 12px;
    left: 0;
}

.search-input {
    font-size: 24px;

    box-sizing: border-box;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 42px;

    border: none;
    border-bottom: 4px solid black;

    transition: border-bottom .3s linear;
}

.search-input:focus {
    border-bottom: 4px solid #ffca28;

    outline: 0;
}


/* Hotel card */

.hotel-card {
    width: 100%;
    max-width: 320px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.hotel-image {
    max-width: 100%;
}

.hotel-title {
    margin-top: 8px;
    margin-bottom: 8px;
}

.hotel-description {
    margin-top: 0;
    margin-bottom: 8px;
}

.hotel-book {
    display: flex;

    width: 100%;

    align-items: center;
    justify-content: space-between;
}

.hotel-book-link {
    padding: 3px 12px;

    border-radius: 4px;

    color: white;
    background-color: #ffc107;

    text-decoration: none;
}

.hotel-book-link:hover {
    background-color: #ffca28;
}

.hotel-price {
    font-weight: 600;
}
