<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hotels</title>
  <link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" src="libs/vue/dist/vue.js"></script>
</head>
<body>
<div id="root">
  <div class="app">
    <div class="header">Hotel Look</div>
    <div class="search-bar">
      <i class="search-icon fa fa-search"></i>

      <input class="search-input" type="text"
          v-model="searchQuery"
          placeholder="Look for a hotel"
          onChange="{this.props.onSearch}"/>

      <div class="hotels-list">
        <div v-for="hotel in displayedHotels" class="hotel-card">
          <hotel :image="hotel.image" 
                           :name="hotel.name"
                           :desc="hotel.description"
                           :price="hotel.price"
                           :id="hotel.id">
        </hotel>     
      </div>
    </div>
    </div>
  </div>
</div>

  <script type="text/x-template" id="hotel-image">
    <img class="hotel-image" :src="src">
  </script>

  <script type="text/x-template" id="hotel-title">
    <h3 class="hotel-title">{{ name }}</h3>
  </script>

  <script type="text/x-template" id="hotel-description">
    <p class="hotel-description">{{ description }}</p>
  </script>

  <script type="text/x-template" id="hotel-book">
    <div class="hotel-book">
      <span class="hotel-price">{{ price }}</span>
      <a v-bind:href="src" target="_blank" class="hotel-book-link">Book now!</a>
    </div>
  </script>

  <script type="text/x-template" id="hotel-component">
    <div>
      <hotel-image :src="image"></hotel-image>
      <div class="hotel-body">
        <hotel-title :name="name"></hotel-title>
        <hotel-description :content="desc"></hotel-description>
        <hotel-book :price="price" :id="id"></hotel-book>
      </div>
    </div>
  </script>

  <script src="js/main.js"></script>
</body>
</html>